@import "styles/mixins"
@import "styles/variables"

.container
  margin: 0 auto

  @include media-up(lg)
    width: 700px

.navbar
  background-color: $top-color
  width: 100%
  white-space: nowrap
  padding: 0.25rem 0
